section.landing {
  padding: 160px 0 80px;
  width: 100%;
  background: #333 url('img/landing_bg.jpg') center center no-repeat;
  background-size: cover;
}

/* Header */

header {
  height: 110px;
  width: 100%;
  margin: 0;
  position: fixed;
  top: 0;
  z-index: 100;
  padding: 25px 20px 0;
  -webkit-transition: all 800ms;
     -moz-transition: all 800ms;
       -o-transition: all 800ms;
          transition: all 800ms;
}

header.fixed {
  height: 60px;
  background-color: #131313;
  padding-top: 0;
}

header.active {
  background-color: #131313;
}


/*** LOGOTYP ***/

header .logo > img.logo-icon {
  position: absolute;
  float: left;
  height: 60px;
  top: 20px;
  left: 114px;
  -webkit-transition: top 800ms,
                      left 800ms,
                      height 800ms,
                      width 800ms;
     -moz-transition: top 800ms,
                      left 800ms,
                      height 800ms,
                      width 800ms;
       -o-transition: top 800ms,
                      left 800ms,
                      height 800ms,
                      width 800ms;
          transition: top 800ms,
                      left 800ms,
                      height 800ms,
                      width 800ms;
}

header .logo > img.logo-text {
  color: #fefefe;
  position: absolute;
  width: 170px;
  top: 64px;
  left: 20px;
  -webkit-transition: top 800ms,
                      left 800ms,
                      height 800ms,
                      width 800ms;
     -moz-transition: top 800ms,
                      left 800ms,
                      height 800ms,
                      width 800ms;
       -o-transition: top 800ms,
                      left 800ms,
                      height 800ms,
                      width 800ms;
          transition: top 800ms,
                      left 800ms,
                      height 800ms,
                      width 800ms;
}

header.fixed .logo > img.logo-icon {
  top: 13px;
  left: 165px;
  height: 35px;
}

header.fixed .logo > img.logo-text {
  width: 140px;
  top: 18px;
}


/*** Hamburger menu icon ***/

.menu-icon {
  float: right;
  position: relative;
  width: 38px;
  height: 38px;
  margin-top: 14px;
}

span {
  position: absolute;
  right: 0;
  left: 0;
  background-color: #fefefe;
  height: 5px;
  display: block;
  border-radius: 1px;
  -webkit-transition: all 200ms;
     -moz-transition: all 200ms;
       -o-transition: all 200ms;
          transition: all 200ms;
}


/* Induvidual placement of span elements */

span:nth-child(1) {
  top: 0;
}

span:nth-child(2) {
  top: 13px;
}

span:nth-child(3) {
  top: 26px;
}


/* When Activated */

header.active .menu-icon span:nth-child(1) {
  top: 13px;
  transform: rotate(45deg);
  left: -2px;
  right: -2px;
}

header.active .menu-icon span:nth-child(2) {
  right: 50%;
  left: 50%;
}

header.active .menu-icon span:nth-child(3) {
  top: 13px;
  transform: rotate(-45deg);
  left: -2px;
  right: -2px;
}


/* Navigation */

nav {
  background-color: #232323;
  position: absolute;
  padding: 0;
  top: 0;
  margin-top: 110px;
  left: 0;
  width: 100%;
  -webkit-transform: translateX(100%);
  -moz-transform: translateX(100%);
  -o-transform: translateX(100%);
  transform: translateX(100%);
  -webkit-transition: -webkit-transform 400ms, margin-top 800ms;
  -moz-transition: -moz-transform 400ms, margin-top 800ms;
  -o-transition: -o-transform 400ms, margin-top 800ms;
  transition: transform 400ms, margin-top 800ms; /* easeInOutCubic */
}

nav.active {
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  -o-transform: translateX(0);
  transform: translateX(0);
}

header.fixed nav {
  margin-top: 60px;
}

nav ul {
  margin: 10px 0;
  list-style: none;
  padding: 0;
}

nav ul > a {
  color: #fff;
  display: block;
  text-align: center;
  height: 44px;
  font-size: 1.25rem;
  line-height: 44px;
  -webkit-transition: color 200ms, background-color 300ms;
  -moz-transition: color 200ms, background-color 300ms;
  -o-transition: color 200ms, background-color 300ms;
  transition: color 200ms, background-color 300ms;
}

nav ul > a:hover {
  background-color: #444;
  color: #18c1e6;
}

@media screen and (min-width: 420px) {

  header {
    height: 130px;
    padding: 25px 30px 0;
  }

  nav {
    margin-top: 130px;
  }

  header .logo > img.logo-icon {
    height: 70px;
    left: 140px;
  }

  header .logo > img.logo-text {
    width: 200px;
    top: 72px;
    left: 30px;
  }

  header.fixed .logo > img.logo-icon {
    top: 10px;
    left: 217px;
    height: 40px;
  }

  header.fixed .logo > img.logo-text {
    width: 180px;
    top: 14px;
  }

}

@media screen and (min-width: 600px) {

  section.landing {
    padding: 260px 0 140px;
  }

  header {
    padding: 25px 50px 0;
  }

  header.active {
    background-color: transparent;
  }

  header.fixed {
    background-color: #131313;
  }

  .menu-icon {
    display: none;
  }

  nav {
    position: relative;
    display: block;
    float: right;
    top: -120px;
    background-color: transparent;
    transform: translateX(0);
    width: auto;
    transition: none;
  }

  header.fixed nav {
    top: -64px;
  }

  nav ul {
    list-style: none;
    width: 100%;
  }

  nav ul a li {
    float: left;
    margin-left: 30px;
    -webkit-transition: margin 800ms;
       -moz-transition: margin 800ms;
         -o-transition: margin 800ms;
            transition: margin 800ms;
  }

  nav ul a:first-of-type li {
    margin-left: 0;
  }

  nav ul > a {
    display: inline;
    font-size: 1rem;
    color: #fefefe;
    transition: color 200ms;
  }

  nav ul > a:hover {
    color: #18c1e6;
  }
}


@media screen and (min-width: 1240px) {

  section.landing {
    padding: 280px 0 200px;
  }

  header {
    height: 160px;
    padding-top: 30px;
  }

  header.fixed {
    height: 70px;
    padding-top: 5px;
  }

  header .logo > img.logo-icon {
    height: 100px;
    top: 20px;
    left: 175px;
  }

  header .logo > img.logo-text {
    width: 270px;
    top: 90px;
  }

  header.fixed .logo > img.logo-icon {
    top: 12px;
    left: 260px;
    height: 50px;
  }

  header.fixed .logo > img.logo-text {
    width: 220px;
    top: 16px;
  }

  nav ul a li {
    margin-left: 50px;
  }
}


/* Landing Page */

h1 {
  font-size: 2rem;
}

.landing p {
  font-size: 1.25rem;
  max-width: 700px;
}

/**** Portfolio ****/

/* Grid - Flex container*/
.grid{
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-direction: wrap;
	-ms-flex-direction: wrap;
	flex-direction: wrap;
}

/* Grid - Item */
.grid-box {
	position: relative;
	-webkit-box-flex: 100%;
	-webkit-flex: 100%;
	-ms-flex: 100%;
	flex: 100%;
	/* additionally, equal width */
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	background: #252525;
	overflow: hidden;
	cursor: pointer;
}
@media screen and (min-width: 740px) {
	.grid-box {
		-webkit-box-flex: 50%;
		-webkit-flex: 50%;
		-ms-flex: 50%;
		flex: 50%;
		max-width: 50%;
	}
}

@media screen and (min-width: 1020px) {
	.grid-box {
		-webkit-box-flex: 33.333%;
		-webkit-flex: 33.333%;
		-ms-flex: 33.333%;
		flex: 33.333%;
		max-width: 33.333%;
	}
}
@media screen and (min-width: 2000px) {
	.grid-box {
		-webkit-box-flex: 16.666%;
		-webkit-flex: 16.666%;
		-ms-flex: 16.666%;
		flex: 16.666%;
		max-width: 16.666%;
	}
}

/* Grid - Content inside item */
.grid-content {
	position: relative;
	background: rgba(0, 0, 0, 0.5);
	color: #fff;
	padding: 20px;
	padding-bottom: 60px;
	width: 100%;
	-webkit-transform: translateY(100%);
	-ms-transform: translateY(100%);
	transform: translateY(100%);

	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;

	top: -70px;
	-webkit-transition: all 0.3s;
	transition: all 0.3s;
}

/* Grid - h2 and p */
.grid-content h2 {
	position: relative;
	display: inline-block;
	font-weight: 300;
	font-size: 1.5rem;
	margin: 0;
	padding-bottom: 10px;
	padding-right: 5px;
}
.grid-content h2:after {
	content: '';
	position: absolute;
	top: 100%;
	left: 0;
	right: 100%;
	border-bottom: 2px solid #fff;
	-webkit-transition: all 0.7s;
	transition: all 0.7s;
}
.grid-content p {
	font-size: 1rem;
	opacity: 0;
	-webkit-transition: all 0.3s;
	transition: all 0.3s;
}

/* Grid - Item hover states */
.grid-box.active .grid-content,
.grid-box:hover .grid-content {
	top: 0;
	-webkit-transform: translateY(0);
	-ms-transform: translateY(0);
	transform: translateY(0);
}
.grid-box.active .grid-content h2:after,
.grid-box:hover .grid-content h2:after {
	right: 0;
}
.grid-box.active .grid-content p,
.grid-box:hover .grid-content p {
	opacity: 1;
}
.grid-box.active:before,
.grid-box:hover:before {
	-webkit-transform: scale(1.05);
	-ms-transform: scale(1.05);
	transform: scale(1.05);
}

/* Grid - Item backgrounds */
.grid-box:before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-position: center;
	background-size: cover;
	-webkit-transition: all 1s;
	transition: all 1s;
}
.grid-box:nth-child(1):before {
	background-image: url("https://unsplash.it/1000/500?image=14");
}
.grid-box:nth-child(2):before {
	background-image: url("https://unsplash.it/1000/500?image=10");
}
.grid-box:nth-child(3):before {
	background-image: url("https://unsplash.it/1000/500?image=11");
}
.grid-box:nth-child(4):before {
	background-image: url("https://unsplash.it/1000/500?image=12");
}
.grid-box:nth-child(5):before {
	background-image: url("https://unsplash.it/1000/500?image=15");
}
.grid-box:nth-child(6):before {
	background-image: url("https://unsplash.it/1000/500?image=17");
}

/**** About ****/
.about {
  margin: 0 auto;
  max-width: 900px;
	background-color: white;
}
.about-header {
	margin-top: -50px;
}
.about-text {
	background-color: #eaf8f9;
}

/**** CONTACT ****/
/*Contact form  */

.contact-map {
  position: relative;
}

.contact-square {
  margin-left: 120px;
  margin-top: 120px;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 50px;
  width: 40%;
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 20;
}

#map{
  width: 100%;
  height: 400px;
  z-index: 0;
}

.contact_input{
  width: 50%;
  float:left;
}

#message, #name, #email{
  border: none;
  outline: none;
  font-size: 0.8em;
  background-color: #c4c4c4;
  border-radius: 5px;

}

#message{
  width: 50%;
  float: left;
  outline: none;
  resize: none;
  height: 2000px;
  text-transform: uppercase;
  height: 200px;

}

#name, #email{
  width: 60%;
  margin-left: 50px;
  margin-bottom: 15px;
  display: block;
  height: 50px;
  text-transform: uppercase;
}

section.contact {
  padding: 0 100px 50px 100px;
  overflow: auto;
}
form.contact_form {
  width: 100%;
}

#submit_button {
 margin-left: 218px;
 margin-top: 20px;
}

/**** Media Queries *****/

@media screen and (max-width: 720px){

 .contact-square {
    margin-left: 0px;
    margin-top: 80px;
    height: 300px;
    width: 75%;
    font-size: 0.8em;
  }

.contact_input,
.contact_form,
  #contact,
  #name, 
  #email {
    margin-top: 20px;
    width: 100%;
    float: left;
    margin-left: 0;
  }
  #message {
    width: 100%;
    height: 150px;
  }
  #submit_button{
    margin-left: 0;
  }

  section.contact{
    padding-left: 20px;
  }

}

@media screen and (min-width: 721px) and (max-width: 1020px){

  .contact-square {
    margin-left: 50px;
    margin-top: 120px;
    height: 300px;
    width: 60%;
  }

  .contact_input,
  .contact_form,
  #contact,
  #name, 
  #email 
  {
    width: 100%;
    float: left;
    margin-top: 10px;
    margin-left: 0px;
    margin-bottom: 5px;
  }

  #message {
    width: 100%;
    height: 120px;
    margin-bottom: 20px;
  }  
}