.containerz {
  max-width: 1040px;
  margin: 0 auto;
}

.div_landing {
  min-height: 85vh;
  width: 100%;
  background: #333 url('img/landing_bg.jpeg') center center no-repeat;
  background-size: cover;
}

/* Header */

header {
  height: 140px;
  width: 100%;
  margin: 0;
}

header img {
  height: 70px;
  float: left;
}

header.scrolled {
  position: fixed;
  top: 0;
  background-color: #202020;
}


/* Navigation */

nav {
  float: right;
}

nav:after{
  color: #fff;
	content: '\f20e';
	font-family: Ionicons;
	font-size: 2.5em;
}

nav ul {
  list-style: none;
  display: none;
}

nav ul li {
  display: inline;
  margin-right: 20px;
}

nav a {
  font-size: 1rem;
  color: #fefefe;
  transition: color 0.3s ease;
}

nav a:hover {
  color: #18c1e6;
}


/* Landing Page */

.landing {
  background: none;
}

h1 {
  font-size: 2rem;
}

.landing p {
  font-size: 1rem;
  max-width: 550px;
}
