@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700,600italic,400italic,300,300italic,700italic);

body {
  color: blue;
}

a {
  color: red; }

* {
  box-sizing: border-box; }

html, body {
  margin: 0;
  padding: 0;
  letter-spacing: 0.012em;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 300;
  letter-spacing: 0.04em;
  line-height: 1.5em;
  display: flex;
  flex-wrap: wrap;
  flex-direction: wrap; }

section {
  display: block;
  width: 100%; }

h2 {
  margin: 0;
  font-weight: 400; }

.box {
  position: relative;
  flex: 100%;
  /* additionally, equal width */
  display: flex;
  background: #252525;
  overflow: hidden;
  cursor: pointer; }
  @media screen and (min-width: 740px) {
    .box {
      flex: 50%;
      max-width: 50%; } }
  @media screen and (min-width: 1020px) {
    .box {
      flex: 33.333%;
      max-width: 33.333%; } }
  .box .content {
    position: relative;
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
    padding: 20px;
    padding-bottom: 60px;
    width: 100%;
    transform: translateY(100%);
    top: -70px;
    transition: all 0.3s; }
    .box .content h2 {
      position: relative;
      display: inline-block;
      padding-bottom: 10px;
      padding-right: 5px; }
      .box .content h2:after {
        content: '';
        position: absolute;
        top: 100%;
        left: 0;
        right: 100%;
        border-bottom: 2px solid #fff;
        transition: all 0.7s; }
    .box .content p {
      opacity: 0;
      transition: all 0.3s; }
  .box:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-position: center;
    background-size: cover;
    transition: all 1s; }
  .box.active .content, .box:hover .content {
    top: 0;
    transform: translateY(0); }
    .box.active .content h2:after, .box:hover .content h2:after {
      right: 0; }
    .box.active .content p, .box:hover .content p {
      opacity: 1; }
  .box.active:before, .box:hover:before {
    transform: scale(1.05); }

.box:nth-child(1):before {
  background-image: url("https://unsplash.it/1000/500?image=14"); }
.box:nth-child(2):before {
  background-image: url("https://unsplash.it/1000/500?image=10"); }
.box:nth-child(3):before {
  background-image: url("https://unsplash.it/1000/500?image=11"); }
.box:nth-child(4):before {
  background-image: url("https://unsplash.it/1000/500?image=12"); }
